@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
 scroll-behavior: smooth;
 font-family: 'Inter', sans-serif;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(var(--blue), var(--blue));
  background-size: 0 3px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.25s ease-in-out;
  width: 200px;
  text-align: center;
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 50% 100%;
  color: var(--blue); 
}
body {
  --blue: #3771c8;
  overflow-x: hidden;
}
