@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width:768px) {
    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(var(--blue), var(--blue));
        background-size: 0 3px;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        transition: background-size 0.25s ease-in-out;
        width: 200px;
        text-align: center;
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 50% 100%;
        color: var(--blue);
    }

    body {
        --blue: #3771c8;
        overflow-x: hidden;
    }
}

.complex-grid-members-section {
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
}

@media only screen and (min-width: 1200px) {
    .complex-grid-members-section {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        grid-template-areas:
            "tl tl tl tl tc tc tc tc tr tr tr tr "
            "bl bl bl blc blc blc brc brc brc br br br"
        ;
        grid-template-rows: 400px 350px;
    }

    .complex-grid-members-section .member-container:nth-of-type(1):hover .visible-section-description-members,
    .complex-grid-members-section .member-container:nth-of-type(2):hover .visible-section-description-members,
    .complex-grid-members-section .member-container:nth-of-type(3):hover .visible-section-description-members {
        margin-top: 50px
    }


    .complex-grid-members-section .member-container {
        max-width: 100%;
        min-width: 270px;
        height: 100%;
    }

    .complex-grid-members-section .member-container:nth-of-type(1) {
        grid-area: tl;
    }

    .complex-grid-members-section .member-container:nth-child(2) {
        grid-area: tc;
    }

    .complex-grid-members-section .member-container:nth-child(3) {
        grid-area: tr;
    }

    .complex-grid-members-section .member-container:nth-child(4) {
        grid-area: bl;
    }

    .complex-grid-members-section .member-container:nth-child(5) {
        grid-area: blc;
    }

    .complex-grid-members-section .member-container:nth-child(6) {
        grid-area: brc;
    }

    .complex-grid-members-section .member-container:nth-child(7) {
        grid-area: br;
    }
}

