@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#f2c, #f2c);
  /* todo change the gradient color */
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
