.main_container{
    position: relative;
    background: white;
    z-index: 10;
}
.main_container:after, 
.border_element {
    content: '';
    height: 100%;
    width: 100%;
    border-radius:inherit;
    position: absolute;
    top:0;
    left:0;
    z-index: 20;
    transition: 400ms;
    background: radial-gradient(
        400px circle at var(--mouseX) var(--mouseY),
        rgba(11, 10, 39, 0.1) 40%,
        rgba(11, 10, 39, 0.4)
    );
    opacity: 0;
    pointer-events: none;
}
.wrapper_container{
background:#e8e8e8; 
}
.wrapper_container:hover {
     background: radial-gradient(
        400px circle at var(--mouseX) var(--mouseY),
        rgba(11, 10, 39, 0.1) 40%,
        rgba(11, 10, 39, 0.6)
    );
    opacity: 1;
}
.wrapper_container:hover .main_container:after{
    opacity: 1;   
}
.image_section{
    z-index: 20;
}
.text_section {
z-index: 20;
}
